.info{
    background-color: rgb(0, 172, 191);
    padding: 28px 20px;
    margin: 8px 60px;
    color: white;
}
.info3{
    background-color: rgb(0, 164, 17);
    padding: 28px 20px;
    margin: 8px 60px;
    color: white;
}
.info2{
    background-color: rgb(255, 47, 0);
    padding: 28px 20px;
    margin: 8px 60px;
    color: white;
}