.info{
    background-color: rgb(0, 172, 191);
    padding: 28px 20px;
    margin: 8px 60px;
    color: white;
}
.info3{
    background-color: rgb(0, 164, 17);
    padding: 28px 20px;
    margin: 8px 60px;
    color: white;
}
.info2{
    background-color: rgb(255, 47, 0);
    padding: 28px 20px;
    margin: 8px 60px;
    color: white;
}
@media (min-width:320px) and (max-width:576px) {
    .table1{
        overflow-x: scroll;
    }
    .table .hide{
        display: none;
    }
    .search{
        flex-direction: column;
        gap: 20px;
        padding: 0px !important;
        margin-top: 35px;
    }
    .info{
    margin: 10px 0;
    }
    .info3{
        margin: 10px 0;
    }
    .info2{
        margin: 10px 0;
    }
}