<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Hospital Portal</title>
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body data-bs-theme="dark">
    <header>
        <h1 class="text-center pt-3 display-1" style="font-family: Edu NSW ACT Hand Pre, cursive;">Hospital Portal</h1>
        <div class="d-flex justify-content-between align-items-center mx-5 px-5">
            <a href="{% url "forms" %}" class="btn btn-primary">Add Patient</a>
            <div class="form">
                <form action="{% url "search" %}" method="get">
                    <input type="search" placeholder="search patient by Name" class="form-control" name="q" id="">
                    <button type="submit" class="btn mt-2 btn-outline-info">Search</button>
                </form>
            </div>
        </div>
        <div class="mx-5 row my-4 py-4">
            <div class="col-lg-4">
                <div class="info text-center">
                    <h1>{{total}}</h1>
                    <h4>Total Patient</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info2 text-center">
                    <h1>{{admit}}</h1>
                    <h4>Admitted</h4>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info3 text-center">
                    <h1>{{discharge}}</h1>
                    <h4>Discharge</h4>
                </div>
            </div>
        </div>
    </header>
    <div class="table1 px-4">
        <table class="table table-bordered table-danger">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Patient Id</th>
      <th scope="col">Name</th>
      <th scope="col">Admit</th>
      <th scope="col">Case</th>
      <th scope="col">Reffer</th>
      <th scope="col">Scheme</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for i in patient %}
    
    
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>PSAK2T{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.admit}}</td>
      <td>{{i.case}}</td>
      <td>{{i.refer}}</td>
      <td>{{i.scheme}}</td>
      <td>{{i.status}}</td>
      <td>
        <a href="{% url "update" i.id %}" class="btn btn-success">Edit</a>
        <a href="{% url "delete" i.id %}" onclick="return confirm('Are you sure to Delete This Patient?');" class="btn btn-danger">Delete</a>
      </td>

    </tr>

    {% endfor %}
  </tbody>
</table>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>
